# ------------------------------------
ALL_DEBUG = D_ALL
ALLOW_ADMINISTRATOR = condor_pool@*/*
ALLOW_WRITE = $(FULL_HOSTNAME), $(IP_ADDRESS), *, condor_pool@*/* , condor@*/*, submit-side@matchsession/*
CCB_ADDRESS = $(COLLECTOR_HOST)
COLLECTOR_ADDRESS_FILE = 
COLLECTOR_HOST = $(CONDOR_HOST):29618
COLLECTOR_NAME = Condor Central Manager at $(FULL_HOSTNAME)
COLLECTOR_SOCKET_BUFSIZE = 20480000
CONDOR_VIEW_CLASSAD_TYPES = Machine,Submitter,DaemonMaster
DEDICATED_EXECUTE_ACCOUNT_REGEXP = slot.+
GRIDMANAGER_JOB_PROBE_INTERVAL = 600
GRIDMANAGER_JOB_PROBE_INTERVAL_EC2 = 600
GRIDMANAGER_MAX_PENDING_REQUESTS = 25
GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE_EC2 = 30000
JobLeaseDuration = 1800
MAX_COLLECTOR_LOG = 100000000
MAX_GRIDMANAGER_LOG = 100Mb
MAX_NEGOTIATOR_LOG = 100000000
MAX_SHADOW_LOG = 100000000
NEGOTIATOR_INTERVAL = 180
NEGOTIATOR_POST_JOB_RANK = (RemoteOwner =?= UNDEFINED) * (0 - cpus)
NEGOTIATOR_PRE_JOB_RANK = (RemoteOwner =?= UNDEFINED) && (time() - EnteredCurrentState < 50000)
QUEUE_SUPER_USERS = condor, condor_pool
RANK = 0
STORK_PORT = 9621
SUBMIT_EXPRS =  JobLeaseDuration JobLeaseDuration
TOOL_TIMEOUT_MULTILIER = 2
TRUST_UID_DOMAIN = True
UPDATE_INTERVAL = 30
WANT_VACATE = False

# ------------------------------------
#  SECURITY
# ------------------------------------
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_PASSWORD_FILE = /etc/condor/password_file
GSI_DELEGATION_KEYBITS = 1024

# ------------------------------------
#  USERS & SLOTS
# ------------------------------------
SLOT1_1_USER = slot1
SLOT1_2_USER = slot2
SLOT1_3_USER = slot3
SLOT_TYPE_1 = 100%
SLOT_TYPE_1_PARTITIONABLE = True
SlotWeight = Cpus
STARTER_ALLOW_RUNAS_OWNER = False
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1

# ------------------------------------
# INTERVALS 
# ------------------------------------
COLLECTOR_UPDATE_INTERVAL = 30
DEFRAG_UPDATE_INTERVAL = 30
HAD_UPDATE_INTERVAL = 30
MASTER_UPDATE_INTERVAL = 30
NEGOTIATOR_UPDATE_INTERVAL = 30
# to make routed ec2 jobs to move from IDLE to RUNNING faster:
GRIDMANAGER_JOB_PROBE_INTERVAL_EC2 = 30 

# ------------------------------------
#  PORTS 
# ------------------------------------
LOWPORT=20000
HIGHPORT=50000

