ALL_DEBUG = D_ALL
START_LOCAL_UNIVERSE = False
START_SCHEDULER_UNIVERSE = $(START_LOCAL_UNIVERSE)

# -----------------------------------------------------------------------------
#       PORTS 
# -----------------------------------------------------------------------------
COLLECTOR_PORT = 29619
PORT = 29619
SHARED_PORT_ARGS = -p 29619
CREDD_PORT = 29620
JOB_ROUTER_SCHEDD2_POOL = $(FULL_HOSTNAME):29618

# -----------------------------------------------------------------------------
#       HOOKS
# -----------------------------------------------------------------------------
JOB_ROUTER_HOOK_KEYWORD = NOVA
NOVA_HOOK_TRANSLATE_JOB = /usr/share/virtualgridsite/nova_hook_translate_job
NOVA_HOOK_UPDATE_JOB_INFO = /usr/share/virtualgridsite/nova_hook_update_job_info
NOVA_HOOK_JOB_EXIT = /usr/share/virtualgridsite/nova_hook_job_exit
NOVA_HOOK_JOB_CLEANUP = /usr/share/virtualgridsite/nova_hook_job_cleanup

LOCAL_CONFIG_FILE = /usr/share/virtualgridsite/condor_ce_router_defaults_nova|

