ALL_DEBUG = D_ALL
START_LOCAL_UNIVERSE = False
START_SCHEDULER_UNIVERSE = $(START_LOCAL_UNIVERSE)

# -----------------------------------------------------------------------------
#       PORTS 
# -----------------------------------------------------------------------------
COLLECTOR_PORT = 29619
PORT = 29619
SHARED_PORT_ARGS = -p 29619
CREDD_PORT = 29620
JOB_ROUTER_SCHEDD2_POOL = $(FULL_HOSTNAME):29618

# -----------------------------------------------------------------------------
#       HOOKS
# -----------------------------------------------------------------------------
JOB_ROUTER_HOOK_KEYWORD = NOVA
NOVA_HOOK_TRANSLATE_JOB = /usr/libexec/translate
NOVA_HOOK_UPDATE_JOB_INFO = /usr/libexec/update
#NOVA_HOOK_JOB_FINALIZE = /usr/libexec/finalize
NOVA_HOOK_JOB_EXIT = /usr/libexec/exit
NOVA_HOOK_JOB_CLEANUP = /usr/libexec/cleanup

