# -----------------------------------------------------------------------------
#       PORTS 
# -----------------------------------------------------------------------------
COLLECTOR_PORT = 29619
PORT = 29619
SHARED_PORT_ARGS = -p 29619
CREDD_PORT = 29620
JOB_ROUTER_SCHEDD2_POOL = $(FULL_HOSTNAME):29618

# -----------------------------------------------------------------------------
#       HOOKS & ROUTING STUFF
# -----------------------------------------------------------------------------
JOB_ROUTER_HOOK_KEYWORD = NOVA
NOVA_HOOK_TRANSLATE_JOB = /usr/share/virtualgridsite/nova_hook_translate_job
NOVA_HOOK_UPDATE_JOB_INFO = /usr/share/virtualgridsite/nova_hook_update_job_info
NOVA_HOOK_JOB_EXIT = /usr/share/virtualgridsite/nova_hook_job_exit
NOVA_HOOK_JOB_CLEANUP = /usr/share/virtualgridsite/nova_hook_job_cleanup

LOCAL_CONFIG_FILE = /usr/share/virtualgridsite/condor_ce_router_defaults_nova|

# classad from the routed job that we want to propagate back to 
# the original ce job, so they can be condor_q'ed from the submit host
NOVA_ATTRS_TO_COPY = EC2ElasticIp

# routing table
JOB_ROUTER_ENTRIES = \
   [ \
     GridResource = "ec2 url"; \
     # the real value of the URL will be set at the TRANSLATE hook
     TargetUniverse = 9; \
     name = "Interactive"; \
     Requirements = (TARGET.virtualgridsite_interactive_vm =?= true);\
   ] 
   # ===================== \
   # sections for both cases,
   # when there is not a valid
   # route for the job
   # and when there is, 
   # are generated by script
   # ===================== \


# contrains to routed jobs
# this is basically to override the original one
# that seems to enforce JobUniverse 1 or 5
JOB_ROUTER_SOURCE_JOB_CONSTRAINT = (target.x509userproxysubject =!= UNDEFINED) && (target.x509UserProxyExpiration =!= UNDEFINED) && (time() < target.x509UserProxyExpiration)


# -----------------------------------------------------------------------------
#       TO CREATE A NO-MATCH ROUTE 
# -----------------------------------------------------------------------------
JOB_ROUTER_ENTRIES_CMD = /usr/lib/python2.6/site-packages/virtualgridsite/routes.py
JOB_ROUTER_ENTRIES_REFRESH = 600

# -----------------------------------------------------------------------------
#       INTERVALS 
# -----------------------------------------------------------------------------
NEGOTIATOR_INTERVAL = 30
NEGOTIATOR_UPDATE_INTERVAL = 30
UPDATE_INTERVAL = 30
GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE_EC2
# very aggressive periodic_expression interval to aborted no-routed jobs asap
PERIODIC_EXPR_INTERVAL = 10
MAX_PERIODIC_EXPR_INTERVAL = 20


# -----------------------------------------------------------------------------
#       MISC
# -----------------------------------------------------------------------------
ALL_DEBUG = D_ALL

# to prevent user to be able to fork jobs on the CE host
START_LOCAL_UNIVERSE = False
START_SCHEDULER_UNIVERSE = $(START_LOCAL_UNIVERSE)


